[Unit]
Description=Wait for connected joysticks and attempt to control the tank main motors
After=network.target

[Service]
Type=simple
ExecStart=/home/anton/.gvm/pkgsets/go1.8.1/global/bin/tank-joystick-control -right 2 -rightY -rightZeroFrom -0.18 -leftZeroFrom -0.18 -minSpeed 0.17 -adjustSleep 10ms -accelSlopeTime 300ms -decelSlopeTime 200ms
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

