[Unit]
Description=Read WIFI credentials from external storage media
After=network.target

[Service]
Type=simple
ExecStart=/home/anton/go/tank/scripts/read-wifi-credentials.sh

[Install]
WantedBy=multi-user.target

