[Unit]
Description=Start the driver for the XBOX controller
After=network.target

[Service]
Type=simple
ExecStart=/home/anton/tank/scripts/tank-xboxdrv.sh
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

